.messageContainer{
    width:100%;
    height: 100%;
}
.messageItem .am-card-header-content {
    color: rgb(102, 102, 102);
    letter-spacing: 0;
}
.repeatInner{
    float: right;
    margin-right: 23px;
}
.messageContainer .am-card-footer-extra{
    margin-right: 22px;
}
.messageItem .am-card-header-content img {
    width:40px;
    height:40px;
    border-radius: 20px;
}
.messageOperationContainer{
    width:70px;
    display: flex;
    float: right;
    justify-content: space-between;
}
.messageOperationContainer div {
    flex: 1;
    text-align: center;
    padding-right: 10px;
}
/* .messageOperationContainer div:nth-of-type(1){
    width:50%;
    text-align: center;
}
.messageOperationContainer div:nth-of-type(2){
    width:50%;
    text-align: center;
} */
.messageContainer .messageDate {
    font-size: 12px;
    letter-spacing: 0;
    padding-left: 7px;
    line-height: 15px;
    color: rgb(125, 125, 125);
}
.repeatItemContainer{
    background: white;
    text-align: left;
    color: rgb(125, 125, 125);
    font-size: 12px;
    padding-left: 61px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.repeatItemContainer div{
    border: none !important;
    padding: 4px;
}
.icon{
    transition:all .3s;
    transform: rotate(0);
}
.closeIcon{
    transform: rotate(-180deg)
}
div.open{
    height: auto;
}
.sendMsg{
    position: fixed;
    right: -32px;
    margin-top: -25px;
    top: 50%;
    background: #ccc;
    z-index: 1;
    font-size: 20px;
    color: #444;
    width: 50px;
    line-height: 50px;
    padding-right: 14px;
    height: 50px;
    border-radius: 25px;
    /* background: #3c445e; */
}
.sendMsg .sendMsgI {
    -webkit-transform: rotate(0deg);
    position: relative;
    left:-7px;
    transform: rotate(0deg);
        transition: all .4s;
}
i.sengMsgRotate{
    transform: rotate(45deg);
}