#canvas {
    position:absolute;
    width:100%;
    height:100%;
    background:#fff;
}
.canvas_box{
    position:absolute;
    width:100%;
    height:100%;
    background:#fff;
    overflow: hidden;
    z-index: -10;
    top:0;
    left:0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
body{
    position: absolute;
}
.exit_gallery{
    position: absolute;
    width:50px;
    height:50px;
    top:50px;
    left:50px;
    color:#666;
    z-index: 100;
    cursor: pointer;
    font-weight: bolder;
}
.srcLoading .loading-circle{
  animation: loading-circle 3s infinite;
}
.srcLoading div:nth-of-type(2){overflow: hidden}
.srcLoading div:nth-of-type(2) .percent{
  height: 20px;
  background: white;
  position: absolute;
  transition: all 1s linear;
}
.srcLoading .loading-word{
  width: 300px;
  height: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  border: 1px solid white;
  border-radius: 30px;
  transform: translate(-50%,-50%);
}
.srcLoading .loading-word p{
  position: relative;
  bottom:-30px;
}
body .loadingUI{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 999;
    display: none;  
    background: rgba(0,0,0,0.3);
}
@keyframes loading-circle {
  form{transform: rotatae(0)}
  to{transform: rotate(360deg);}
}
@-webkit-keyframes loading-circle {
  form{transform: rotatae(0)}
  to{transform: rotate(360deg);}
}
@-o-keyframes loading-circle {
  form{transform: rotatae(0)}
  to{transform: rotate(360deg);}
}
@-ms-keyframes loading-circle {
  form{transform: rotatae(0)}
  to{transform: rotate(360deg);}
}
@-moz-keyframes loading-circle {
  form{transform: rotatae(0)}
  to{transform: rotate(360deg);}
}
body .loading-circle{
  position: absolute;
  top:45%;
  left:50%;
  width:100px;
  height:100px;
  border-radius: 50%;
  margin : -50px 0 0 -50px;
}
body .runCircle{
  animation: loading-circle 2s infinite;
  -webkit-animation: loading-circle 2s infinite;
  -moz-animation: loading-circle 2s infinite;
  -ms-animation: loading-circle 2s infinite;
  -o-animation: loading-circle 2s infinite;
}
body .loading-circle::after{
  content: '';
  position: absolute;
  top:-5px;
  left:50%;
  margin-left: -5px;
  width:10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
body .loading-circle::before{
  content: '';
  position: absolute;
  bottom:-5px;
  left:50%;
  margin-left: -5px;
  width:10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
.loading-word{
    width:300px;
    height:100px;
    position: absolute;
    top: 55%;
    left : 50%;
    transform : translate(-50%,-50%);
}
.loading-word p {
    color:white;
    text-align: center;
}
body .srcLoading{
  position: absolute;
  width:100%;
  height: 100%;
  z-index: 1000;
  background: #2d2a2b;
}