<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="KeyWords" content="Ada 卑微小前端 Home 主页 blog" />
    <meta
      name="Description"
      content="Ada 卑微小前端，基于react + koa + mogodb的个人主页"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />
    <title>Ada 卑微小前端</title>
    <link rel="canonical" href="http://www.adaxh.site" />
    <link
      href="https://bucker-for-sae.oss-cn-hangzhou.aliyuncs.com/blog/mobilelib/dist/styles.css"
      rel="stylesheet"
    />
    <meta http-equiv="X-Frame-Options" content="*" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="stylesheet"
      href="https://at.alicdn.com/t/font_2143604_uj69jafvrbs.css"
    />
    <title>Ada - Home</title>
    <script>
      //按照iphoneX 适配rem
      document.documentElement.style.fontSize =
        document.documentElement.clientWidth / 3.75 + 'px';
    </script>
  </head>

  <body>
    <div id="root"></div>
    <script src="https://bucker-for-sae.oss-cn-hangzhou.aliyuncs.com/blog/mobilelib/dist/new-mobile.js"></script>
    <script src="https://bucker-for-sae.oss-cn-hangzhou.aliyuncs.com/blog/mobilelib/dist/2.new-mobile.js"></script>
    <script src="https://bucker-for-sae.oss-cn-hangzhou.aliyuncs.com/blog/mobilelib/dist/0.new-mobile.js"></script>
  </body>
  <script
    type="text/javascript"
    charset="utf-8"
    src="https://connect.qq.com/qc_jssdk.js"
    data-appid="101902433"
    data-redirecturi="https://www.adaxh.site/qq"
  ></script>
  <script>
    (function () {
      var canonicalURL, curProtocol;
      var x = document.getElementsByTagName('link');
      if (x.length > 0) {
        for (i = 0; i < x.length; i++)
          if (x[i].rel.toLowerCase() == 'canonical' && x[i].href)
            canonicalURL = x[i].href;
      }
      if (!canonicalURL) curProtocol = window.location.protocol.split(':')[0];
      else curProtocol = canonicalURL.split(':')[0];
      if (!canonicalURL) canonicalURL = window.location.href;
      !(function () {
        var e = /([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi,
          r = canonicalURL,
          t = document.referrer;
        if (!e.test(r)) {
          var n =
            String(curProtocol).toLowerCase() === 'https'
              ? 'https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif'
              : '//api.share.baidu.com/s.gif';
          t
            ? ((n += '?r=' + encodeURIComponent(document.referrer)),
              r && (n += '&l=' + r))
            : r && (n += '?l=' + r);
          var i = new Image();
          i.src = n;
        }
      })(window);
    })();
  </script>
</html>
