<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="./sass/main.css">
    <link rel="stylesheet" href="./sass/animate.css">
    <link rel="stylesheet" href="./sass/gallery.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/htmleaf-demo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css" />
    <link href="/css/themes/quill.snow.css" rel="stylesheet">
    <script type="text/javascript" src='./js/menu_plugin.js'></script>
    <script src="./js/template.js"></script>
    <script src="./js/jq.js"></script>
    <script src="./js/buddle.js"></script>
    <script src="./js/glitcheffect.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/ge1doot.js"></script>
    <script src="./js/imageTransform3D.js"></script>
</head>
<body>
    11
</body>
</html>