.aboutContainer {
  width: 1150px;
  margin: 0 auto;
  height: 100%;
  /* background: #22282c; */
  position: relative;
}
.diyView {
  width: 500px;
  height: 180px;
  /* left:0.075rem;     */
  /* position: absolute; */
  /* top:0.2rem; */
  perspective: 1000px;
  margin: 0 auto;
  transform-style: preserve-3d;
  border-radius: 10px;
  // padding: 20px;
  p {
    margin-bottom: 5px;
  }
  i {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }
}
.inputText {
  bottom: 50px;
  width: 500px;
  font-size: 13px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  text-align: left;
  margin: 0 auto;
  color: white;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: pre-wrap;
  // padding: 10px;
  // padding-bottom: 0;
}
.Scrool {
  transition: all 1s;
  white-space: pre-wrap;
  width: 100%;
  text-indent: 200px;
  font-size: 14px;
}
.togleStatus {
  // position: absolute;
  color: white;
  font-size: 18px;
  // top: 11px;
  // left: 50%;
}
.itemFromRight {
  opacity: 0;
  transform: translateX(60px);
  will-change: opacity, transform;
  animation: itemFromRight 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
@keyframes itemFromRight {
  form {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
._topViewRotate {
  transform-style: preserve-3d;
  /* transform: rotateX(-30deg) rotateY(0deg) rotateZ(0deg); */
  transform: rotateX(-50deg) rotateY(0deg) rotateZ(0deg);
  width: 500px;
}
div.toggleStatus {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.08) !important;
}
._topView2 {
  color: rgba(0, 0, 0, 0.8);
  transition: all 1s;
  border: 1px solid white;
  margin-top: 20px;
  text-align: center;
  background: white;
  border-radius: 5px;
}
._topView4 {
  padding: 10px;
  text-align: left;
  padding-bottom: 0;
}
