header{
    height: 80px;
    background: #22282c;
    width:100%;
    display: flex !important;
    justify-content: space-between;
}
.logo{
    width:100px;
    line-height: 80px;
    color:white;
    font-weight: bold;
}
.welcome{
     width:90px;
}
.welcome p{
    line-height: 80px;
    color:white;
    font-weight: bold;
    /* animation: neon2 0.5s ease-in-out infinite alternate; */
}
.AdaLogo {
    line-height: 80px;
    color:white;
    font-weight: bold;
    /* animation: neon3 0.5s ease-in-out infinite alternate; */
}
@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}