@keyframes formRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.dark {
  // background: #525252 !important;
  .friendItem {
    .view {
      div.title {
        color: white;
      }
    }
  }
}
// .light {
//   background: white !important;
// }
.page {
  width: 100%;
  position: absolute;
  display: flex;
  margin-top: 1.52rem;
  padding-bottom: 0.1rem;
  justify-content: space-around;
  background: #192a34;
  color: #cccccc;
  animation: formRight 1s forwards;
  opacity: 0;
  z-index: 1;
  a,
  a i {
    color: #cccccc;

    font-size: 0.18rem;
  }
  a {
    display: flex;
    flex-direction: column;
    font-size: 0.14rem;
    i {
      position: relative;
      top: 0.05rem;
    }
  }
  a[disabled] {
    text-decoration: line-through;
  }
}
.itemF {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25rem;
  padding-bottom: 0.37rem;
  margin-top: 1.66rem;
  cursor: pointer;
  overflow-x: hidden;
  animation: formRight 1s forwards;
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  float: left;
  height: 3.57rem;
  overflow-y: auto;
  .siteTitle {
    margin: 0.2rem 0 0 0.2rem;
    position: relative;
    color: white;
    font-weight: 500;
  }
  // div.friendItem {
  //   flex-direction: column;
  // }
  .friendItem {
    margin: 0 auto;
    margin-top: 0.2rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #2d2c2cd6;
    border-bottom: 1px solid #f2f2f2;
    .avatar {
      width: 0.4rem;
      height: 0.4rem;
      margin-left: 0.1rem;
      border-radius: 50%;
      overflow: hidden;
      align-self: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .view {
      // width: 2.75rem;
      flex: 1;
      margin: 0.1rem 0.1rem 0 0.1rem;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .title {
        height: 0.3rem;
        color: #cccccc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 1s;
        font-size: 0.12rem;
        .date {
          color: #949494;
        }
      }
      .desc {
        // height: 1rem;
        padding-bottom: 0.1rem;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #8a8a8a;
        font-size: 0.13rem;
        span {
          float: right;
        }
        i {
          // padding: 10px;
          font-size: 0.13rem;
          position: relative;
          top: 0.02rem;
          display: inline-block;
          width: 0.17rem;
          height: 0.17rem;
        }
      }
    }
  }
}
.repeat {
  width: 3rem;
  .repeatItem {
    color: #949392;
    padding: 0.1rem;
    // padding-left: 0;
    margin-left: 0.22rem;
    text-indent: 2em;
    font-size: 0.12rem;
    .repeatInfo {
      text-indent: 2em;
    }
  }
}
