{
  "extends": ["umi", "prettier"],
  "rules": {
    "quotes": "off",
    "semi": 1,
    "react/jsx-pascal-case": "off"
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "printWidth": 200,
    //     "semi": true
    //   }
    // ]
  }
}
