body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body, ul, li, ol, dl, dt, dd, figure, figcaption, a, p, h1, h2, h3, h4, h5, h6, input, form, button {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}
a:link{text-decoration: none !important;}
a:visited{text-decoration: none !important;}
a:hover{text-decoration: none !important;}
a:active{text-decoration: none !important;} 
